
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f9; /* Light gray background */
  color: #333;
  margin: 0;
  padding: 0;
}


.container {
  display: flex;
  flex-wrap: wrap; /* Makes the layout responsive */
  gap: 40px;
  justify-content: space-between;
  max-width: 1200px;
  margin: 40px auto; /* Adds some top and bottom margin for spacing */
  padding: 30px;
}


.content {
  flex: 1 1 60%; /* More space for content */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.content h1 {
  color: #2b3a42;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.content h2 {
  color: #2b3a42;
  font-size: 1.6rem;
  margin-bottom: 20px;
}


.sidebar {
  flex: 1 1 35%;
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.sidebar h3 {
  font-size: 1.5rem;
  color: #2b3a42;
  font-weight: 600;
  margin-bottom: 20px;
}

.sidebar img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


.section-title {
  margin-top: 40px;
  border-bottom: 2px solid #2e3d4d;
  padding-bottom: 10px;
  font-size: 1.5rem;
  color: #2b3a42;
}

.highlight{
  display: flex;
  align-items: stretch;
  height: auto;


}
.highlight-section {
  flex: 1;
  margin-top: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  padding: 25px;
  display: flex;
  flex-direction: column;
  height: auto;
}

.highlight-image {
  flex: 0 0 45%;
  height: auto;
  width:300px;
  margin:30px 10px 0px 10px;
  /* object-fit: cover; */
  /* max-height: 200px; */
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  align-self: center;
  scale: 1px;

}

.highlight-text {
  flex: 1;
  color: #555;
  font-size: 1rem;
  line-height: 1.6;
  text-align: justify;
  align-self: stretch;
  padding-top: 20px;

}

.footer {
  background: linear-gradient(90deg, #2c2c2c, #1a1a1a);
  color: #ccc;
  padding: 20px 0;
  text-align: center;
  border-top: 3px solid #555;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  letter-spacing: 0.5px;
}

.footer-content span {
  color: #e0e0e0;
}

.footer-content span strong {
  color: #ffffff;
}

.footer-content:hover span {
  color: #ffffff;
  transition: color 0.3s ease;
}

.footer-content:hover strong {
  text-decoration: underline;
}

a {
  color: #2e3d4d;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

