body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.8;
  margin: 0;
  padding: 0 0 0 20px;
  background-color: #f4f7f9;
  color: #333;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.content {
  flex: 3;
  margin-right: 20px;
}

.sidebar {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: fit-content;
}

.sidebar h3 {
  color: #0056b3;
  margin-bottom: 15px;
}

.sidebar img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

h1,
h2 {
  color: #0056b3;
}

.updated-date {
  font-size: 0.9em;
  color: #6c757d;
}

.main-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.section-title {
  margin-top: 30px;
  border-bottom: 3px solid #0056b3;
  padding-bottom: 8px;
}

.highlight-section {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.highlight-image {
  flex: 1 1 40%;
  max-width: 40%;
  height: auto;
  object-fit: cover;
}

.highlight-text {
  flex: 1 1 60%;
  padding: 20px;
}

.highlight-text p {
  margin-bottom: 15px;
}


a {
  color: #102f51;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h3 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #34495e;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: left;
  border-left: 4px solid #e74c3c;
  padding: 0.5em 1em;
  background-color: #ecf0f1;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0;
  width: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
}


h3:hover {
  background-color: #dcdde1;
  color: #2c3e50;
}

.highlight-section {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 25px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.highlight-text {
  flex: 1;
  text-align: justify;
}

.highlight-image {
  flex: 0 0 40%;
  max-width: 40%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer {
  background: linear-gradient(90deg, #2c2c2c, #1a1a1a);
  color: #ccc;
  padding: 20px 0;
  text-align: center;
  border-top: 3px solid #555;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  letter-spacing: 0.5px;
}

.footer-content span {
  color: #e0e0e0;
}

.footer-content span strong {
  color: #ffffff;
}

.footer-content:hover span {
  color: #ffffff;
  transition: color 0.3s ease;
}

.footer-content:hover strong {
  text-decoration: underline;
}